/* styling for my app */

body {
    background-image: url("/assets/img/background.jpg");
    font-family: Arial, sans-serif;
    text-align: center;
    color: darkgreen;
    margin-top: 5em;
}

.submitBtn {
    border: none;
    color: white;
    background-color: darkgreen;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
}

textarea {
    border-radius: 8px;
    border: none;
    padding: 2em;
}